.contact-section{
padding: 100px 0px;
}
.contact h1, p{
color: aliceblue;
}

.contact p{
width: 80%;
margin: 0 auto;
line-height: 30px;
margin-top: 30px;
margin-bottom: 40px;
}
.contact-btn{
  border: 1px solid;
  width: 120px;
  margin: 0 auto;
  padding: 10px 0px;
  border-radius: 5px;
  color: #21E6C1;
}
.contact-btn:hover{
  background-color: #21E6C1;
  color: black;
}

.contact-btn:hover a{
  color: black ;
}
.contact-btn a{
  color:#64ffda ;
}

.mb-card img{
  width:100%;
  height: 500px;
  object-fit: cover;
 
}
.mb-card{
  position: relative;
  overflow: hidden;
}

.mb-card .tools li{
  color: #000000;
  }
.mb-info{
  position: absolute;
  background-color: #C1CAEA;
  width:100%;
  top: 0;
  left: 0;
  height: 500px;
  color: #000000 !important;
  padding: 100px 20px;
  transition: .9s;
  transform: translateY(-100%);
}

.mb-card:hover .mb-info{
transform: translateY(0);

}
/* .mb-info::after{
    content: "";
    background-color: rgba(43, 50, 63, 0.85);
    width: 100%;
    height: 100%;
    left: 0;
    top: -30px;
    position: absolute;
    opacity: 0;
    transition: all 0.4s ease-out;
    transform-style: preserve-3d;
} */

  .mb-link-up{
    position: absolute;
    display: flex;
    left: 20px;
    gap: 30px;
   margin-top: 20px;
    }
    .mb-link-up h6{
      margin: 4px;
      font-size: 15px;
      }
      .mb-link-up a{
      color: black;
      font-size: 24px;
      display: flex;}

      .mb-link-up a:hover{
        color: #64ffda;
      }